
 /* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 70%;
  margin: auto;
} */
/* 
header {
  background-color: #004767;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.header {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 150px;
} */

/* nav {
  padding: 10px;
  text-align: center;
  background-color: #03BFCB;
  color: white;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly
} */

 /* .container {
  margin-top: 20px;
  border: 1px solid rgb(240, 229, 229);
  border-radius: 15px;
  box-shadow: 30px 30px 30px 30px rgba(68, 65, 65, 0.1);
  height: 680px;
}  */

/* .service-container {
  margin: auto;
  border: 1px solid rgb(240, 229, 229);
  border-radius: 15px;
  box-shadow: 30px 30px 30px 30px rgba(68, 65, 65, 0.1);
  height: 850px;
  width: 80%;
  align-items: center;
} */

/* li {
  font-size: larger;
}

 .btn-next {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 1040px;
} 

 .btn2-next {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 980px;
  position: relative;
  bottom: 99px;
  
} 

.btn-prev {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 780px;
  position: relative;
  bottom: 56px;
}

.radio {
  margin-top: 10px;
}

.container-submit {
  margin: auto;
  border: 1px solid rgb(240, 229, 229);
  border-radius: 15px;
  box-shadow: 30px 30px 30px 30px rgba(68, 65, 65, 0.1);
  width: 80%;
} 

.btn3-prev {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 960px;
  margin-bottom: 30px;
}

.btn3-next {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 1100px;
  position: relative;
  bottom: 73px;
} */

/* .btns {
  position: relative;
  bottom: 65px;
}

.btns-contract {
  position: relative;
  top: 65px;
} */

/* .btns-submit {
  position: relative;
  top: 65px;
} */

/* .btn-prev {
  background-color: #03BFCB;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 18px;
  width: 10%;
  margin-left: 700px;
  margin-bottom: 50px;

}
 */
/* p {
  display: inline-block;
  color: gray;
}
 .mb-3 {
  margin-top: 20px;
} */

/* .date-input {
  width: 20%;
}  */

/* .active {
  color: #feffff;
  font-size: larger;
  border: 1px solid gray;
  background-color: #004767;
  border-radius: 8px;
  width: 20%;
} */

/* .radio {
  margin-top: 10px;
}

.date-gender-inp {
  display: flex;
  justify-content: space-between
} */

/* li {
  margin-top: 20px;
}

.asylym-title {
  margin: 15px;
} */

/* select {
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
}
.submit-info {
  margin: 35px;
} */
/* .number-email {
  display: flex;
}

.service-question {
  display: flex;
}

.inputText {
  width: 29%;
} */

/* .select {
  margin-left: 40px;
}


.container-submit {
  margin-top: 20px;
  border: 1px solid rgb(240, 229, 229);
  border-radius: 15px;
  box-shadow: 30px 30px 30px 30px rgba(68, 65, 65, 0.1);
  height: 100%;
} */

/* .hide {
  visibility: hidden;
}

.sent-text {
  font-size: larger;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
} */


@media only screen and (min-device-width : 320px) and (max-device-width : 640px){
  header {
    background-color: #004767;
    color: rgb(252, 252, 252);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 150px;
  }
  nav {
    padding: 10px;
    text-align: center;
    background-color: #03BFCB;
    color: white;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  } 
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 20px;
  }
 .container {
  margin-top: 20px; 
} 
 .service-container {
  margin: auto;
  width: 90%;
  align-items: center;
}
.container-submit {
  margin-top: 10px;
  width: 100%;
  /* padding: 15px; */
}
textarea {
  width: 95%;
}
  select {
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: white;
  }
  .mb-3 {
    margin-top: 30px;
  }
  .btn-next {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 18px;
    width: 20%;
  }
  .active {
    color: white;
    border-radius: 8px;
    width: 20%;
  }
  h6 {
    color: #004767;
    margin-left: 7px;
  }
  .sent-text {
    font-size: larger;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
  }
  p {
    display: inline-block;
    color: gray;
    margin-left: 5px;
  }
  .btn2-next {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 25%;
    margin-left: 20px;
  } 
  .btn-prev {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 25%;
    margin-left: 30px;
  }
  .btn-submit{
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 25%;
    margin-left: 20px;
  }
  .btn3-prev{
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 25%;
    margin-left: 30px;
  }
} 


@media only screen and (min-device-width : 640px) and (max-device-width : 1605px){
  .container {
    width: 70%;
    margin-top: 20px;
    border: 1px solid rgb(240, 229, 229);
    border-radius: 15px;
    box-shadow: 30px 30px 30px 30px rgba(68, 65, 65, 0.1);
    height: 610px;
  }
  .service-container {
    margin: auto;
    width: 80%;
    align-items: center;
    height: 1030px;
    padding: 10px;
  }
  .container-submit {
    margin-top: 10px;
    margin-left: 100px;
    width: 80%;
    height: 1570px;
    padding: 10px;
  }
  p {
    display: inline-block;
    color: gray;
    margin-left: 10px;
    font-size: larger;
  }
  h6 {
    margin-left:  10px;
  }
  textarea {
    width: 98%;
  }
  li {
    font-size: larger;
  }
  .active {
    color: #feffff;
    font-size: larger;
    border: 1px solid gray;
    background-color: #004767;
    border-radius: 8px;
    width: 25%;
  }
  select {
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: white;
  }
  .mb-3 {
    margin-top: 15px;
  }
  nav {
    padding: 10px;
    text-align: center;
    background-color: #03BFCB;
    color: white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: larger;
  } 
  header {
    background-color: #004767;
    color: rgb(252, 252, 252);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 20px;
  }
  .btn-next {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 15%;
  }
  .btn2-next {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 15%;
    margin-left: 20px;
  } 
  .btn-prev {
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 15%;
    margin-left: 30px;
  }
  .btn-submit{
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 15%;
    margin-left: 20px;
  }
  .btn3-prev{
    background-color: #03BFCB;
    border: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
    font-size: 18px;
    width: 15%;
    margin-left: 30px;
  }
  .sent-text {
    font-size: larger;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
  }
  .radio1 {
    font-size: 20px;
  }
  .radio{
    font-size: 20px;
  }
}
